body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

section {

  width: 100%;
  height: 100vh;
}

nav {

  width: 100%;
  height: auto;
}

footer {

  width: 100%;
  height: auto;

}

.section-bg {
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
}

.section-bg header {

  display: table;
  height: 100%;
  margin: auto;
  padding: 40px;
}

.section-bg h1 {
 
  display: table-cell;
  vertical-align: middle;
  color: #f9e498;
  text-shadow: -1px 2px 8px #7d7d7d;
}

.section1 {
  background-image: url('./images/hero.jpg');

}
nav {
  position: fixed;
  top:0;
  width: 100%;
  height: auto;
  background-color: #83889e;
  box-shadow: 0 -6px 20px 3px #cccccc;
}
nav ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
nav li {
  position: relative;
  float:left;
  width: 12%;
}
nav li:first-child{
  width: 40%;
}
nav li a{
  display:block;
  color: White;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
}
nav li a:hover{
  color: #b2b2b2;
}

.section-body{
 
  width: 80%;
  height: inherit;
  margin: auto;
  padding: 4em 0;

}
.section-photo{
  width: 50%;
  height: inherit;
  float:left
}
.section-text{
  width: 50%;
  height: inherit;
  float:left

}
.section-text p{
 padding: 2em;
 font-size:2em;
 font-weight: 2em;

}
.section-img{
  display:inline-block;
  width: 100%;
  height: 100%;
}
.clear{
  clear:both;
}
.section2{
  margin: auto;
  margin-top: 100px;  
  width: 90%;
  height: 30vh;
  border-bottom: 1px solid #ccc;
  background-image: url(./images/science.jpg);
}